.banner {
        margin: 0 auto;
  

        background: linear-gradient(
            to right,
            rgba(20, 20, 20, 1) 10%,

            rgba(20, 20, 20, 0.95) 40%,
            rgba(20, 20, 20, 0) 50%,
            rgba(20, 20, 20, 0.95) 60%,
            rgba(20, 20, 20, 1) 100%
          );

}

.gradient {
    
     background: linear-gradient(
            to right,
            rgba(20, 20, 20, 1) 10%,

            rgba(20, 20, 20, 0.95) 40%,
            rgba(20, 20, 20, 0) 50%,
            rgba(20, 20, 20, 0.95) 60%,
            rgba(20, 20, 20, 1) 100%
          );
}
