<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 인터페이스 위치 지정!!!!!! -->
<mapper namespace="music.is.mylife.dao.UserLogMapper">

	<!-- 한 유저가 지금까지 별점을 매긴 곡 수 -->
	<select id="selectAllStarCountByUser" parameterType="string" resultType="int">
		
	</select>
	<!-- 한 유저가 지금까지 매긴 별점의 총합 -->
	<select id="selectAllStarSumByUser" parameterType="string" resultType="double">
	
	</select>
	<!-- 한 유저가 가장 많이 준 별점 -->
	<select id="selectTopStarByUser" parameterType="string" resultType="int">
	
	</select>
 	
 	

</mapper>